<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Rafflee>
            <version>0.1.3</version>
        </Magestore_Rafflee>
    </modules>
    <frontend>

        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <magestore_rafflee_observer>
                        <class>rafflee/observer</class>
                        <method>addToTopmenu</method>
                    </magestore_rafflee_observer>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_product_collection_apply_limitations_before>
                <observers>
                    <magestore_rafflee_observer>
                        <class>rafflee/observer</class>
                        <method>catalog_product_collection_apply_limitations_before</method>
                    </magestore_rafflee_observer>
                </observers>
            </catalog_product_collection_apply_limitations_before>

            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <magestore_rafflee_observer>
                        <class>rafflee/observer</class>
                        <method>catalog_product_collection_apply_limitations_before</method>
                    </magestore_rafflee_observer>
                </observers>
            </catalog_product_collection_apply_limitations_after>
        </events>

        <routers>
            <rafflee>
                <use>standard</use>
                <args>
                    <module>Magestore_Rafflee</module>
                    <frontName>rafflee</frontName>
                </args>
            </rafflee>
        </routers>
        <layout>
            <updates>
                <rafflee>
                    <file>rafflee.xml</file>
                </rafflee>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Rafflee>
                    <files>
                        <default>Magestore_Rafflee.csv</default>
                    </files>
                </Magestore_Rafflee>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<raffleeadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Rafflee</module>
					<frontName>raffleeadmin</frontName>
				</args>
			</raffleeadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<rafflee>
					<file>rafflee.xml</file>
				</rafflee>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Rafflee>
                    <files>
                        <default>Magestore_Rafflee.csv</default>
                    </files>
                </Magestore_Rafflee>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <rafflee>
                <class>Magestore_Rafflee_Model</class>
                <resourceModel>rafflee_mysql4</resourceModel>
            </rafflee>
            <rafflee_mysql4>
                <class>Magestore_Rafflee_Model_Mysql4</class>
                <entities>
                    <rafflee>
                        <table>rafflee</table>
                    </rafflee>
                    <tickets>
                        <table>rafflee_tickets</table>
                    </tickets>
                </entities>
            </rafflee_mysql4>
        </models>
        <resources>
            <rafflee_setup>
                <setup>
                    <module>Magestore_Rafflee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rafflee_setup>
            <rafflee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rafflee_write>
            <rafflee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rafflee_read>
        </resources>
        <blocks>
            <rafflee>
                <class>Magestore_Rafflee_Block</class>
            </rafflee>
        </blocks>
        <helpers>
            <rafflee>
                <class>Magestore_Rafflee_Helper</class>
            </rafflee>
        </helpers>
        <template>
            <email>
                <magestore_raffle_email_to_winner translate="label" module="rafflee">
                    <label>Mail to Winner</label>
                    <file>rafflee/email_to_winner.html</file>
                    <type>html</type>
                </magestore_raffle_email_to_winner>
                <magestore_raffle_email_notify_new_tickets translate="label" module="rafflee">
                    <label>Mail new tickets</label>
                    <file>rafflee/email_new_ticket.html</file>
                    <type>html</type>
                </magestore_raffle_email_notify_new_tickets>
                <magestore_raffle_email_notifie_finished_to_admin translate="label" module="rafflee">
                    <label>Mail to raffle finished to admin</label>
                    <file>rafflee/email_to_admin.html</file>
                    <type>html</type>
                </magestore_raffle_email_notifie_finished_to_admin>
                <magestore_raffle_email_notifie_finished_to_loser translate="label" module="rafflee">
                    <label>Mail to raffle finished to loser</label>
                    <file>rafflee/email_to_loser.html</file>
                    <type>html</type>
                </magestore_raffle_email_notifie_finished_to_loser>
            </email>
        </template>
        <events>
            <sales_order_save_after>
                <observers>
                    <magestore_rafflee_observer>
                        <type>singleton</type>
                        <class>rafflee/observer</class>
                        <method>sales_order_save_after</method>
                    </magestore_rafflee_observer>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
        <rafflee>
            <general>
                <create_tickets_when_state_order>complete</create_tickets_when_state_order>
            </general>
            <emails>
                <to_winner>magestore_raffle_email_to_winner</to_winner>
                <to_loser>magestore_raffle_email_notifie_finished_to_loser</to_loser>
                <to_admin>magestore_raffle_email_notifie_finished_to_admin</to_admin>
                <new_ticket>magestore_raffle_email_notify_new_tickets</new_ticket>
            </emails>
        </rafflee>
    </default>
</config>